body {
  font-family: 'Helvetica', 'Arial', sans-serif;
}
html, body {
  height: 100%;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}
.main-content {
  min-height: 80% !important;
}
h2 {
  font-size: 30px;
  margin: 10px 0px;
  text-align: left;
  color: #007ABF;
}
h2 a {
  color: #007ABF;
  text-decoration: none !important;
}
.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
  background-color: #007ABF;
  color: #ffffff;
  text-align: left;
}
.styled-table th,
.styled-table td {
  padding: 12px 15px;
}
.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}
.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}
.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #007ABF;
}
.btn-primary {
  background-color: #007ABF !important;
  border-color: #007ABF !important;
}
.footer {
  font-size: 14px;
  color: #779db2;
}
.noresults {
  font-size: 16px;
  color: #007ABF;
  font-weight: bold;
}
.error {
  font-size: 16px;
  color: #ff0f0f;
  font-weight: bold;
}